:root {
	--btn-order-bg-color: #f9c06a;
	--btn-order-bg-color-hover: #ffe4bb;
	--btn-order-font: 'Playfair Display', serif;
	--btn-order-text-color: #1e1e1e;
	--btn-order-shadow: 0px 6px 12px 0px #f9c06a38;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;

	width: 100vw;
	height: auto;

	overflow-x: hidden;
	overflow-y: auto;

	&::-webkit-scrollbar {
		width: 3px;
	}

	&::-webkit-scrollbar-track {
		background: #1c1c1c;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #3c3c3c;
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: #3c3c3c;
	}
}

.btn__skin {
	z-index: 3;
	background: var(--btn-order-bg-color);
	box-shadow: var(--btn-order-shadow);
	color: var(--btn-order-text-color);
	font-family: var(--btn-order-font);

	border-radius: 24px;
	border: none;
	cursor: pointer;

	width: 100px;
	height: 48px;

	transition:
		background 0.3s ease,
		box-shadow 0.3s ease;

	&:hover {
		background: var(--btn-order-bg-color-hover);
	}

	p {
		font-family: Playfair Display;
		font-weight: 700;
		font-size: 16px;
		line-height: 100%;
		letter-spacing: 0%;
		color: #1e1e1e;
	}
}

.hidden {
	display: none;
}

.remove__in__short__window {
	@media (max-width: 1300px) {
		display: none !important;
	}
}

.remove__in__long__window {
	@media (min-width: 1301px) {
		display: none !important;
	}
}
