:root {
	--btn__order__bg__color: #f9c06a;
	--btn__order__bg__color__hover: rgb(255, 217, 161);
	--btn__order__text__color: #1e1e1e;
	--btn__order__shadow: 0px 6px 12px 0px #f9c06a38;
	--text__font__PlayfairDisplay: 'Playfair Display', sans-serif;
	--text__font__ClickerScript: 'Clicker Script', sans-serif;
	--text__font__Roboto: 'Roboto', sans-serif;
	--text__color__pattern: #ffffff;
	--text__color__primary: #603809;
	--text__color__secondary: #707070;
}
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;

	&:focus {
		outline: none;
	}
}
body {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;

	width: 100vw;
	height: auto;

	overflow-x: hidden;
	overflow-y: auto;

	&::-webkit-scrollbar {
		width: 3px;
	}

	&::-webkit-scrollbar-track {
		background: #1c1c1c;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #3c3c3c;
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: #3c3c3c;
	}
}
.btn__skin {
	z-index: 3;
	background: var(--btn__order__bg__color);
	box-shadow: var(--btn__order__shadow);
	color: var(--btn__order__text__color);
	font-family: var(--text__font__PlayfairDisplay);

	border-radius: 24px;
	border: none;
	cursor: pointer;

	width: 100px;
	height: 48px;

	transition:
		background 0.3s ease,
		box-shadow 0.3s ease;

	&:hover {
		transform: scale(1.1);
		background: var(--btn__order__bg__color__hover);
		border: none;
	}

	p {
		font-weight: 700;
		font-size: 16px;
		line-height: 100%;
		letter-spacing: 0%;
	}
}
.hidden {
	display: none !important;
}
.remove__in__short__window {
	@media (max-width: 1300px) {
		display: none !important;
	}
}
.remove__in__long__window {
	@media (min-width: 1301px) {
		display: none !important;
	}
}
