.header {
	z-index: 1;
	user-select: none;

	width: 100%;
	height: 100vh;

	background: url('../assets/coffee_image.svg');
	background-size: cover;

	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;

	@media (max-width: 1300px) {
		background-position: center;
	}
}

.header__overlay {
	z-index: 2;
	background-image: url('../assets/overlay.svg');
	width: 100%;
	height: 100%;
	background-size: cover;
	background-attachment: local;
	background-position: center;
	background-repeat: no-repeat;
}

.header__title {
	z-index: 3;
	width: 135px;
	height: 46px;
	font-family: Clicker Script;
	font-weight: 400;
	font-size: 35px;
	line-height: 100%;
	letter-spacing: 0%;
	color: #ffffff;
}

.header__nav {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;

	ul {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		list-style-type: none;
		width: 50%;
		gap: 10%;

		li {
			a {
				width: 38px;
				height: 19px;
				font-family: Playfair Display;
				font-weight: 500;
				font-size: 14px;
				line-height: 100%;
				letter-spacing: 0%;
				text-decoration: none;
				color: #ffffff;
			}
		}
	}

	@media (max-width: 1300px) {
		ul {
			display: none;
		}
	}
}

.header__text__box {
	max-width: 527px;
	position: absolute;
	top: 25%;
	gap: 30px;
	margin: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@media (min-width: 1300px) {
		justify-content: start;
		align-items: start;
		left: 10%;
		top: 30%;
	}
}

.header__text__1 {
	font-family: Playfair Display;
	font-weight: 500;
	font-size: 22px;
	line-height: 100%;
	letter-spacing: 0%;
	color: #ffffff;
	text-align: start;

	@media (max-width: 1300px) {
		font-size: 18px;
	}
}

.header__text__2 {
	font-family: Clicker Script;
	font-weight: 400;
	font-size: 220px;
	line-height: 100%;
	letter-spacing: 0%;
	color: #ffffff;

	@media (max-width: 1300px) {
		font-size: 120px;
	}
}

.header__text__3 {
	font-family: Playfair Display;
	font-weight: 400;
	font-size: 20px;
	line-height: 34px;
	letter-spacing: 0%;
	color: #ffffff;
	
	@media (max-width: 1300px) {
		text-align: center;
		font-size: 15px;
	}
}

.header__text__button {
	width: 134px;
	height: 48px;
}
