.home {
	z-index: 1;
	user-select: none;

	width: 100%;
	height: 100vh;

	background-image: url('../assets/coffee_image.svg');
	background-size: cover;

	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;

	@media (max-width: 1300px) {
		background-position: center;
	}
}

.home__overlay {
	z-index: 2;
	background-image: url('../assets/overlay.svg');
	width: 100%;
	height: 100%;
	background-size: cover;
	background-attachment: local;
	background-position: center;
	background-repeat: no-repeat;
}

.home__nav {
	padding: 20px 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;

	@media (max-width: 1300px) {
		justify-content: space-between;
		padding: 10px 20px;
	}

	ul {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		list-style-type: none;
		width: 50%;
		gap: 10%;

		li {
			a {
				width: 38px;
				height: 19px;
				font-weight: 500;
				font-size: 18px;
				line-height: 100%;
				letter-spacing: 0%;
				text-decoration: none;
				font-family: var(--text__font__PlayfairDisplay);
				color: var(--text__color__pattern);
				position: relative;
				transition: color 0.3s;
				user-select: none;

				&::after {
					content: '';
					display: block;
					position: absolute;
					left: 0;
					width: 100%;
					height: 2px;
					background: var(--text__color__pattern);
					transform: scaleX(0);
					transform-origin: center;
					transition: transform 0.3s ease-in-out;
				}

				&:hover::after {
					transform: scaleX(1);
				}
			}
		}
	}
}

.home__title {
	z-index: 3;
	width: auto;
	height: auto;
	font-family: var(--text__font__ClickerScript);
	font-weight: 400;
	font-size: 35px;
	line-height: 100%;
	letter-spacing: 0%;
	color: var(--text__color__pattern);
	transition:
		transform 0.3s ease,
		color 0.3s ease;

	&:hover {
		transform: scale(1.1) rotate(-5deg);
	}
}

.home__text__box {
	max-width: 527px;
	position: absolute;
	top: 25%;
	gap: 30px;
	margin: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@media (min-width: 1300px) {
		justify-content: start;
		align-items: start;
		left: 10%;
		top: 30%;
	}
}

.home__text__1 {
	font-family: Playfair Display;
	font-weight: 500;
	font-size: 22px;
	line-height: 100%;
	letter-spacing: 0%;
	color: var(--text__color__pattern);
	text-align: start;

	@media (max-width: 1300px) {
		font-size: 18px;
	}
}

.home__text__2 {
	font-family: var(--text__font__ClickerScript);
	font-weight: 400;
	font-size: 220px;
	line-height: 100%;
	letter-spacing: 0%;
	color: var(--text__color__pattern);

	@media (max-width: 1300px) {
		font-size: 120px;
	}
}

.home__text__3 {
	font-family: Playfair Display;
	font-weight: 400;
	font-size: 20px;
	line-height: 34px;
	letter-spacing: 0%;
	color: var(--text__color__pattern);

	@media (max-width: 1300px) {
		text-align: center;
		font-size: 15px;
	}
}

.home__text__button {
	width: 134px;
	height: 48px;
}

.hamburger__menu {
	display: flex;
	flex-direction: column;
	gap: 5px;
	cursor: pointer;
	z-index: 4;
}

.hamburger__menu span {
	width: 25px;
	height: 3px;
	background-color: var(--text__color__pattern);
}

.mobile__menu {
	z-index: 3;
	position: absolute;
	top: 0;
	width: 100vw;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 0;
	overflow: hidden;
	transition: height 0.5s ease-in-out;

	ul {
		list-style: none;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		opacity: 0;
		transform: translateY(-20px);
		transition:
			opacity 0.5s ease-in-out,
			transform 0.5s ease-in-out;

		li {
			width: 100%;
			text-align: center;
			padding: 20px 0;
			background-color: rgba(0, 0, 0, 0.8);
			border-bottom: 1px solid var(--text__color__pattern);

			a {
				text-decoration: none;
				color: var(--text__color__pattern);
				font-family: Playfair Display;
				font-size: 24px;
				font-weight: bold;
				display: block;
				width: 100%;
			}
		}
	}
}

.mobile__menu__open {
	height: 300px;
}

.mobile__menu__open ul {
	opacity: 1;
	transform: translateY(0);
}
