.shop {
	z-index: 1;
	user-select: none;

	width: 90%;
	height: auto;
	margin-top: 100px;

	background-color: #fffefc;
	background-size: cover;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Playfair Display';

	@media (max-width: 1300px) {
		margin-top: 30px;
		width: 100%;
	}
}

.shop__text__div {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.shop__text__box {
	display: flex;
	flex-direction: column;

	gap: 30px;
	max-width: 585px;

	@media (max-width: 1300px) {
		padding-top: 10%;
		margin: 0 5%;
		max-width: 379px;
		align-items: center;
	}
}

.shop__text__1 {
	width: 100%;
	text-align: center;
	font-family: Playfair Display;
	font-weight: 700;
	font-size: 54px;
	line-height: 100%;
	letter-spacing: 0%;
	color: var(--text__color__primary);

	@media (max-width: 1300px) {
		font-size: 28px;
	}
}

.shop__text__2 {
	font-family: Playfair Display;
	font-weight: 400;
	font-size: 20px;
	line-height: 34px;
	letter-spacing: 0%;
	color: var(--text__color__secondary);
	text-align: start;

	@media (max-width: 1300px) {
		padding: 20px;
		font-size: 15px;
		line-height: 25.5px;
	}
}

.shop__img {
	max-width: 680px;
	max-height: 476px;
}

.shop__text__button {
	width: 134px;
	height: 48px;
	box-shadow: var(--btn__order__shadow);
}

.shop__img__decoration {
	position: absolute;
	left: 0;

	width: 500px;
	height: auto;
	margin-top: 400px;

	@media (max-width: 1300px) {
		width: 250px;
		height: auto;
	}
}

.shop__products__container {
	width: 100%;
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	gap: 20px;
	padding: 20px;
	height: auto;
}

.shop__products__container__title {
	width: 100%;
	height: auto;
	font-weight: 700;
	font-size: 54px;
	line-height: 100%;
	letter-spacing: 0%;
	color: var(--text__color__primary);
	text-align: center;

	@media (max-width: 1300px) {
		font-size: 28px;
	}
}

.shop__products__container__text {
	width: 100%;
	height: auto;
	font-weight: 400;
	font-size: 20px;
	line-height: 34px;
	letter-spacing: 0%;
	color: var(--text__color__secondary);
	text-align: center;

	@media (max-width: 1300px) {
		font-size: 15px;
		line-height: 25.5px;
	}
}

.shop__products__box__container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	width: 100%;
	max-width: 1300px;

	height: auto;
	padding: 30px 0;
	gap: 30px;
}

.product__card {
	width: 300px;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	border: 2px solid #f9c06a6b;
	background-color: #fff9f1;
	gap: 5px;
	position: relative;
	box-shadow: var(--btn__order__shadow);
}

.product__card__image {
	width: 100%;
	height: 75%;
	object-fit: cover;
	border-bottom: 2px solid #f9c06a6b;
	overflow: hidden;
}

.product__card__title {
	width: 100%;
	height: 50px;
	text-align: center;
	font-weight: 700;
	font-size: 22px;
	line-height: 100%;
	letter-spacing: 0%;
	color: var(--text__color__primary);
	padding: 2px 5px;
}

.product__card__description {
	width: 100%;
	height: 70px;
	text-align: center;
	color: var(--text__color__secondary);
	padding: 2px 5px;
}

.product__card__price {
	width: 100%;
	height: auto;
	text-align: center;

	font-weight: 700;
	font-size: 20px;
	line-height: 100%;
	letter-spacing: 0%;
	color: var(--text__color__primary);
}

.product__card__button {
	position: absolute;
	bottom: calc(0% - 24px);
	left: calc(50% - 134px / 2);
	width: 134px;
	height: 48px;
	box-shadow: var(--btn__order__shadow);
}
